{{>header}}
		<script type="text/javascript" src="js/src/authorized.js"></script>
		<script type="text/html" id="tpl-profile">
			{{>profile}}
		</script>
		<script type="text/html" id="tpl-change-password">
			{{>change-password}}
		</script>
		<script type="text/html" id="tpl-search">
			{{>search}}
		</script>
	</head>
	<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
  		<div class="container">
  			<div class="navbar-header">
	          	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            	<span class="sr-only">Toggle navigation</span>
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	          	</button>
	        </div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a class="bar-profile" href="#profile">Profile</a></li>
					<li><a class="bar-change" href="#change">Change Password</a></li>
					<li><a class="bar-search" href="#search">Search</a></li>
				</ul>
				<p class="navbar-text navbar-right">
	          		<a href="/auth/logout" class="navbar-link">Logout</a>
	          		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	          	</p>
			</div>
	    </div>
	</nav>
	<div id="alert"></div>
	<div id="body-container" class="container"></div>
	</body>
	<script>
		$.routr.run();
		if(!window.location.hash || window.location.hash=="#login")
			window.location.hash = "#search";
	</script>
</html>