doctype html
html
  head
    title= title
    link(rel='stylesheet', href='css/style.css')
    script(type='text/javascript' src="lib/jquery-2.1.4.min.js")
  body
    block content

  script(type='text/javascript' src="src/everything.js")