<html>
	<head>
		<script type="text/javascript" src="js/lib/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="js/lib/jquery.routr.js"></script>
		<script type="text/javascript" src="js/src/base.js"></script>
		<script type="text/javascript" src="js/src/guest.js"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script type="text/html" id="tpl-login">
		    <form id="login">
		    	<table>
		    		<tr>
		    			<td>Email</td>
		    			<td><input type="email" id="email" name="email" placeholder="Email"></td>
		    		</tr>
		    		<tr>
		    			<td>Password</td>
		    			<td><input type="password" id="password" name="password" placeholder="Password"></td>
		    		</tr>
		    		<tr>
		    			<td></td>
		    			<td>
		    				<input type="button" value="Login" id="btn-login">
		    				&nbsp;<a href="#register">Register</a>
		    			</td>
		    		</tr>
		    	</table>
		    </form>
		</script>
		<script type="text/html" id="tpl-register">
			<form id="register">
		    	<table>
		    		<tr>
		    			<td><input type="surname" id="surname" name="surname" placeholder="Surname"></td>
		    			<td><input type="othernames" id="othernames" name="othernames" placeholder="Othernames" size="40"></td>
		    		</tr>
		    		<tr>
		    			<td colspan="2"><textarea rows="4" cols="50" placeholder="Address" name="address" id="address"></textarea></td>
		    		</tr>
		    		<tr>
		    			<td>Gender
		    				<select name="gender" id="gender">
		    					<option>Male</option>
		    					<option>Female</option>
		    				</select>
		    			</td>
		    			<td>DOB:
		    				<input type="date" max="" id="dob" name="dob">
		    			</td>
		    		</tr>
		    		<tr>
		    			<td><input type="text" placeholder="Company" name="company" id="company"></td>
		    		</tr>
		    		<tr>
		    			<td><input type="text" placeholder="Phone" name="phone" id="phone"></td>
		    			<td><input type="email" placeholder="Email" name="email" id="email" data-invalid="Invalid Email!"></td>
		    		</tr>
		    		<tr>
		    			<td colspan="2"><textarea rows="4" cols="50" placeholder="About You" name="about" id="about"></textarea></td>
		    		</tr>
		    		<tr>
		    			<td><input type="password" placeholder="Password" name="password" id="password"></td>
		    		</tr>
		    		<tr>
		    			<td><input type="password" placeholder="Confirm Password" name="confirm" id="confirm"></td>
		    		</tr>
		    		<tr>
		    			<td>
		    				<input type="button" value="Save" id="register-save">
		    				&nbsp;<a href="#login">Login</a>
		    			</td>
		    		</tr>
		    	</table>
		    </form>
		</script>
	</head>
	<body>
	</body>
	<script>
		$.routr.run();
		window.location.hash = "#login";
	</script>
</html>