{{>header}}
		<script type="text/javascript" src="js/src/guest.js"></script>
		<style type="text/css">
		</style>
		<script type="text/html" id="tpl-login">
		    {{>login}}
		</script>
		<script type="text/html" id="tpl-register">
			{{>register}}
		</script>
	</head>
	<body>
		<div id="alert"></div>
		<div id="body-container" class="container"></div>
	</body>
	<script>
		$.routr.run();
		if(!window.location.hash || 
			["#profile", "#search", "#change"].indexOf(window.location.hash) >= 0)
			window.location.hash = "#login";
	</script>
</html>