extends base

block content
	div.alert
	form(method='post',action='/login')
		table
			tr
				td	Email
				td 
					input(type="text", placeholder="Username", id="email", name="email") 
			tr
				td	Password
				td
					input(type="password", placeholder="Password",
					id="password", name="password")
			tr
				td
				td
					input(type="button", value="Login", id="login") 
					&nbsp;
					a(href="register") Register