- var title = {"change":"Change Password", "register":"Password"}
- var id = {"change":"change-pass", "register":"register-save"}

if page == "change"
	include head.jade
				
div.alert
div.title #{title[page]}
	table
		#page
		if page == "change"
			tr
				td
					input(type="password", placeholder="Current Password",name="current", id="current")
		tr
			td
				input(type="password", placeholder="Password",name="password", id="password")
		tr
			td
				input(type="password", placeholder="Confirm Password",name="confirm", id="confirm")
		tr
			td
				input(type="button", value="Save", id="#{id[page]}")
				&nbsp;
				
				if page == "register"
					a(href="/") Login