extends base

block content
	- var page = "profile"
	include head.jade
	div.alert
	form(id="#{page}")
		include form.jade
		table
			tr
				td
					input(type="button", value="Save", id="profile-save")