extends base

block content
	div.title Registration
	div.alert
	form(method='post',action='/register')
		table
			tr
				td 
					input(type="text", placeholder="Surname", name="surname", id="surname") 
				td
					input(type="othernames", placeholder="Othernames", size="40", name="othernames", id="othernames")
			tr
				td(colspan="2")
					textarea(rows="4", cols="50", placeholder="Address", name="address", id="address")
			tr
				td(colspan="2")
					|Gender:
					&nbsp;
					select(name="gender", id="gender")
						option Male
						option Female
			tr
				td
					input(type="text", placeholder="Company", name="company", id="company")
			tr
				td
					input(type="text", placeholder="Phone", name="phone", id="phone")
				td
					input(type="email", placeholder="Email", name="email", id="email", data-invalid="Invalid Email!")
			tr
				td(colspan="2")
					textarea(rows="4", cols="50", placeholder="About You", name="about", id="about")
			
		div.title Password
		table
			tr
				td
					input(type="password", placeholder="Password",name="password", id="password")
			tr
				td
					input(type="password", placeholder="Confirm Password",name="confirm", id="confirm")
			tr
				td
					input(type="button", value="Save", id="register-save")
					&nbsp;
					a(href="/") Login