*{

	font-family: monospace;
	border-color:grey;
}

input[type=text],
input[type=email],
input[type=password], 
input[type=date], 
textarea, select{

	border:1px inset #000;
	padding: 2px;
}

div.alert{

	display: none;
	background-color: pink;
	padding: 3px;
	min-width:0;
	border:1px solid #000;
}

div.title{

	padding: 3px;
}

table.topbar a{

	text-decoration: none;
}

table.topbar{

	border-bottom:1px solid #000;
	padding-top: 5px;
	padding-bottom: 15px;
	margin-bottom: 20px;
}