*{

	margin:0px;
	padding:0px;
}

html{

	max-height: 100%;
}

body{

	height: 100%;
}

div#alert{

	max-width: 50%;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 10px;
	font-weight: bold;
}

div#body-container{

	/*none*/
}

.inactive {

   pointer-events: none;
   cursor: default;
   text-decoration: none;
   color: #000;
}

/*Bootstrap Form*/

.form-horizontal .form-group{

	margin-right: 0;
}

/*Bootstrap Navigation Bar*/

.navbar-fixed-top, .navbar-fixed-bottom {
		
	position: relative; /* this can also be static */
}
